doctype html

html(lang='da')
  head
    meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")
    meta(charset="UTF-8")
    title AWS Suiten
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="description", content="AWS Suiten")
    meta(name="author", content="Finn Jordal")

    link(href="bootstrap/css/bootstrap.min.css", rel="stylesheet")
    link(href="bootstrap/css/bootstrap-responsive.min.css", rel="stylesheet")
    link(href="css/style.css", rel="stylesheet")

    link(rel="shortcut icon", href="img/favicon.ico")

  body
    nav.navbar.navbar-expand-lg.navbar-dark.navbar-default.fixed-top.bg-dark.justify-content-center(role="navigation")
      div.container-fluid
        button.navbar-toggler(type="button", data-toggle="collapse", data-target="#navBar" aria-controls="navBar" aria-expanded="false" aria-label="Toggle navigation")
          span.navbar-toggler-icon
        a.navbar-brand(href="#") AWS Suiten <span class="sr-only">(current)</span>
        div.collapse.navbar-collapse#navBar
          ul.navbar-nav.mr-auto
            li.nav-item
              a.nav-link(href='/') Startside
            li.nav-item
              a.nav-link(href='licens') Brugsbetingelser
            li.nav-item
              a.nav-link(href='support') Support
    div.p-2

    block content


    block scripts
      script(src="bootstrap/js/jquery.min.js")
      script(src="bootstrap/js/bootstrap.min.js")

    script.
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-39392352-2']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

      /*<![CDATA[*/
      (function() {
        var sz = document.createElement('script');
        sz.type = 'text/javascript';
        sz.async = true;
        sz.src = '//siteimproveanalytics.com/js/siteanalyze_6083803.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(sz, s);
      })();
      /*]]>*/

