extends layout

block content
	div#content.container
		h1 Support og feedback
		p Spørgsmål til, meninger om, ønsker til, ideer til eller andre kommentarer omkring AWS Suiten er meget velkomne. Det sker i <a href="http://digitaliser.dk/group/334445">AWS gruppen på Digitaliser.dk</a>. 

		p Du kan endvidere holde dig opdateret om AWS Suiten ved at følge os på  
			a(href='https://twitter.com/AWS_Suiten') Twitter.

		p Driftstatus på AWS Suitens services kan du finde <a href='http://stats.pingdom.com/tdobb0hqaff9'>her</a>.

		p Hvis du via mail ønsker at blive informeret om kritiske ændringer af AWS Suiten, som kan påvirke din brug af AWS Suiten, sender du en mail til awssuiten@sdfe.dk med oplysning om din organisation, dit system samt kontaktoplysninger.


block append scripts
	script  
		$('#topbar li').removeClass('active');
		var a= $("#topbar li a[href='support']")[0];
		var li= $(a).parent().addClass('active');