extends layout

block content
	div#content.container
		h1 Support
		p Du kan endvidere holde dig opdateret om AWS Suiten på <a href='https://dataforsyningen.dk/'>Dataforsyningen</a>.

		p Driftstatus på AWS Suitens services kan du finde <a href='https://erdataforsyningennede.site24x7signals.com/'>her</a>.

block append scripts
	script.
		$('#navBar li').removeClass('active');
		var a= $("#navBar li.nav-item a.nav-link[href='support']")[0];
		var li= $(a).parent().addClass('active');
